
<div *ngIf="event">
    <h2><span>Event</span> {{event.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Eventdate</span></dt>
        <dd>
            <span>{{event.eventdate | date:'medium'}}</span>
        </dd>
        <dt><span>Event Type</span></dt>
        <dd>
            <div *ngIf="event.eventType">
                <a [routerLink]="['/event-type', event.eventType?.id]">{{event.eventType?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
