<div>
    <h2>
        <span>Events</span>
        <button class="btn btn-primary float-right jh-create-entity create-event"
                [routerLink]="['/', { outlets: { popup: ['event-new'] } }]">
            <span class="fa fa-plus"></span>
            <span>
            Create new Event
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="events">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Eventdate</span></th>
                <th><span>Event Type</span></th>
                <th><span>User</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events ;trackBy: trackId">
                <td><a [routerLink]="['../event', event.id ]">{{event.id}}</a></td>
                <td>{{event.eventdate | date:'medium'}}</td>
                <td>
                    <div *ngIf="event.eventType">
                        <a [routerLink]="['../event-type', event.eventType?.id ]">{{event.eventType?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="event.user">
                        <a [routerLink]="['../user-management-id', event.user?.id ]">{{event.user?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../event', event.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event/'+ event.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
