<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventLabel">Create or edit a Event</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!event.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="event.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_eventdate">Eventdate</label>
            <div class="d-flex">
                <input id="field_eventdate" type="datetime-local" class="form-control" name="eventdate" [(ngModel)]="event.eventdate"
                />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_eventType">Event Type</label>
            <select class="form-control" id="field_eventType" name="eventType" [(ngModel)]="event.eventType" >
                <option [ngValue]="null"></option>
                <option [ngValue]="eventTypeOption.id === event.eventType?.id ? event.eventType : eventTypeOption" *ngFor="let eventTypeOption of eventtypes; trackBy: trackEventTypeById">{{eventTypeOption.id}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_eventType">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="event.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="eventUserOption.id === event.user?.id ? event.user : eventUserOption" *ngFor="let eventUserOption of users; trackBy: trackEventTypeById">{{eventUserOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
