<div *ngIf="user">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <img [src]="user.imageUrl" alt="" class="img-rounded img-responsive"/>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{user.firstName}} {{user.lastName}}</h4>
                        <p>
                            <i class="fa fa-envelope-o"></i> Email: {{user.email}}
                            <br/>
                            <i class="fa fa-pencil"></i> Last modefied: {{user.lastModifiedBy}}
                            <br/>
                            <i class="fa fa-clock-o"></i> Created at: {{user.createdDate| date:'dd/MM/yy HH:mm'}}
                            <br/>
                            <jhi-boolean
                                [value]="user.activated"
                                textTrue="Activated"
                                textFalse="Deactivated">
                            </jhi-boolean>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <span style="margin-left:35px">Date from</span>
            <p-calendar [(ngModel)]="dateFrom" [showIcon]="true"></p-calendar>
            <span style="margin-left:35px">Date to</span>
            <p-calendar [(ngModel)]="dateTo" [showIcon]="true"></p-calendar>
            <br>
            <button pButton type="button" label="Calculate" (click)="calculate()"></button>
        </div>
    </div>
</div>
<p-dataTable [value]="events" sortField="day" rowGroupMode="subheader" groupField="day" expandableRowGroups="true"
             [sortableRowGroup]="false">
    <p-header>Details</p-header>
    <ng-template pTemplate="rowgroupheader" let-rowData>
        {{rowData['day'] | date:'dd.MM.yyyy'}}
    </ng-template>
    <p-column field="eventDate" header="Event datetime">
        <ng-template>
            <ng-template let-col let-event="rowData" let-ri="rowIndex" pTemplate="body">
                {{event.eventDate | date:'dd:MM:yyyy hh:mm:ss'}}
            </ng-template>
        </ng-template>
    </p-column>
    <p-column field="eventType" header="Event type"></p-column>
    <ng-template pTemplate="rowgroupfooter" let-event>
         Time spent at work: {{event.timeSpentAtWork}}, Required time: {{event.timeAtWorkNormal}}
    </ng-template>
</p-dataTable>
<button pButton type="button" label="Load Chart Data" (click)="loadChartData()"></button>
<p-chart type="line" [data]="chartData"></p-chart>
