<p-dataTable [value]="commonMonitorDetails" *ngIf="commonMonitorDetails" [rows]="10" [paginator]="true" [pageLinks]="3"
             [rowsPerPageOptions]="[5,10,20]">
    <p-header>Employees</p-header>
    <p-column field="userId" header="User ID" [sortable]="true">
        <ng-template let-col let-user="rowData" let-ri="rowIndex" pTemplate="body">
            <a [routerLink]="['../user-management-id', user.userId ]">{{user.userId}}</a>
        </ng-template>
    </p-column>
    <p-column field="concatName" header="Employee" [sortable]="true" [filter]="true"
              filterPlaceholder="Search"></p-column>
    <p-column field="status" header="Status" [sortable]="true"></p-column>
    <p-column field="lastTimeStateChanges" header="Last time status changed" [sortable]="true">
        <ng-template let-col let-user="rowData" let-ri="rowIndex" pTemplate="body">
            {{user.lastTimeStateChanges | date:'medium'}}
        </ng-template>
    </p-column>
    <p-column field="timeSpentAtWork" header="Time spent at work" [sortable]="true">
        <ng-template let-col let-user="rowData" let-ri="rowIndex" pTemplate="body">
            {{user.timeSpentAtWork | date:'HH:mm:ss'}}
        </ng-template>
    </p-column>
    <p-column styleClass="col-button">
        <ng-template let-user="rowData" pTemplate="body">
            <button type="submit"
                    [routerLink]="['../detailed-monitor', user.userId ]"
                    class="btn btn-info btn-sm">
                <span class="fa fa-eye"></span>
                <span class="d-none d-md-inline">Details</span>
            </button>
        </ng-template>
    </p-column>
</p-dataTable>

