<div>
    <h2>
        <span>Day Times</span>
        <button class="btn btn-primary float-right jh-create-entity create-day-time" [routerLink]="['/', { outlets: { popup: ['day-time-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Day Time
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dayTimes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date</span></th>
            <th><span>Time Spent At Work</span></th>
            <th><span>User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dayTime of dayTimes ;trackBy: trackId">
                <td><a [routerLink]="['../day-time', dayTime.id ]">{{dayTime.id}}</a></td>
                <td>{{dayTime.date | date:'medium'}}</td>
                <td>{{dayTime.timeSpentAtWork | date:'HH:mm:ss'}}</td>
                <td>
                    {{dayTime.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../day-time', dayTime.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'day-time/'+ dayTime.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'day-time/'+ dayTime.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
