
<div *ngIf="dayTime">
    <h2><span>Day Time</span> {{dayTime.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Date</span></dt>
        <dd>
            <span>{{dayTime.date | date:'medium'}}</span>
        </dd>
        <dt><span>Time Spent At Work</span></dt>
        <dd>
            <span>{{dayTime.timeSpentAtWork | date:'medium'}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{dayTime.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'day-time/'+ dayTime.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
